  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>BOOK<span>WORLD</span></div>
	</div>
		<br>
	<div class="login">
			<form>
			<input type="text" placeholder="name"  ng-model="name" required><br>
			<input type="E-mail" placeholder="E-mail"  ng-model="email"  required><br>
			<input type="password" placeholder="password"  ng-model="pwd" required><br>
			<input type="button" value="Submit" ng-click=addUser()>
			</form>
	</div>











