<div class="container"><nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>     
        <span class="icon-bar"></span>                   
      </button>
      <a class="navbar-brand">Book World</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul  class="nav navbar-nav">
        <li><a  >About</a></li>
        <li><a >Categories</a></li>
        <li><a  >My WishList</a></li>
        <li><a  >Subscribed Books</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="signout()"><span ></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
<div ui-view></div>