<div class="body"></div>
<div class="grad"></div>
<div class="header">
	<div>
		BOOK<span>WORLD</span>
	</div>
</div>
<br>
<div class="login">
	<form>
		<input type="text" placeholder="User Email" ng-model="email" required /><br>
		<input type="password" placeholder="password" ng-model="pwd" required /><br>
		<input type="submit"
			style="width: 79%; margin-top: 18px; padding-top: 13px; color: black;"
			value="Login" ng-click="login()" />
		<p>{{Status}}</p>
	</form>

	<input type="button" value="Signup" ng-click=createUserAccount()>
</div>

