<div id="single-product-alignments" class="container">

	<div id="singleProduct-margin-alignment" class="col-sm-4">
		<div class="thumbnail">
			<div>
				<img class="img-responsive" class="category-imageStyle" src={{data.imagePath}} alt="Lights">
			</div>
		</div>
		<div>
			<h4>Leave a Comment:</h4>
		</div>
		<div>
			<form class="status" role="form">
				<div class="form-group">
					<textarea id="commentbox" class="form-control" ng-model="comment" required></textarea>
				</div>
				<div>
				<div id="category-Rating">
					<strong >Rating:</strong>
					<label class="radio-inline"> <input
						type="radio" name="optradio" value="1" ng-model="rating" required> 1
					</label> <label class="radio-inline"> <input type="radio"
						name="optradio" value="2" ng-model="rating" required> 2
					</label> <label class="radio-inline"> <input type="radio"
						name="optradio" value="3" ng-model="rating" required> 3
					</label><label class="radio-inline"> <input type="radio"
						name="optradio" value="4" ng-model="rating" required> 4
					</label><label class="radio-inline"> <input type="radio"
						name="optradio" value="5" ng-model="rating" required> 5
					</label></div> 
				</div>
				<div id="single-page-successButton">
					<button ng-click="addToReview()" class="btn btn-success">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div id="single-product-alignments" class="col-sm-8">
		<div class="row content">
			<div id="bookName-alignment">
				<h2>{{data.bookName}}</h2>
			</div>
			<div>
				<p id="Description-alignment">{{data.bookDescription}}<p>
			</div>
		</div>
		<div class="row content">
			<div id="authorName">
				<a>Authour Name :</a>{{data.author}}
			</div>
			<div>
				<button ng-click="addToWishList()" class="btn btn-success">Add
				To Favourite</button>
			</div>
		</div>
		<div>
			<h2>Comments</h2>
		</div>
		<div id="comment-box-alignment" ng-repeat="review in reviewdata" class="row content">
			<ul class="list-group">
				<li class="list-group-item"> <div id="show_Rating_username"> UserName : <strong> {{review.name}} </strong> <span class="show-rating"> Ratings:{{review.bookRating}} </span> </div>
					<div id="singleProduct_show_comment">
						{{review.bookComment}}
					</div>
				</li>
			</ul>
		</div>
	</div>
	</div> 
