<div class="col-md-12" id="subscriptionPage">
<div class="col-sm-3"></div>
<div id="centertag" class="col-sm-6">
	<div class="subscription-page-heading">Subscription Page</div>
	<form id="formId" class="form-horizontal"
		role="form" align="center" ng-submit="payToSubscribe()">
		First name:<input type="text" name="UserName" ng-model="username" required>
 			<br>
 		Mobile Number:<input type='tel' pattern='\d{10}' ng-model="phonenumber" title='Phone Number (Format: 9999999999)'> 
  			<br>
  		Payment method:<select required ng-model="cardtype">
  				<option value="">None</option>
  				<option value="paytm" ng-model="cardtype">paytm</option>
  				<option value="Debit Card" ng-model="cardtype">Debit Card</option>
  				<option value="Credit Card" ng-model="cardtype">Credit Card</option>
  				<option value="Internet Banking" ng-model="cardtype">Internet Banking</option>
			</select>
  			<br>
  		<input type="submit"  value="Submit">
	</form>
	</div>
	<div class="col-sm-3"></div>
</div>

